<html>
	<style>
		 .yellow {
         background-color: yellow;
      	}
		.red {
			background-color:red;
		}
		.green {
			background-color:lightgreen;
		}
		li.green {
    text-decoration: line-through;
		}
		li:before {
 	 content:'[add icon symbol here]';
  	font-family: [my cool web icon font here];
  	display:inline-block;
  	vertical-align: top;
  	line-height: 1em;
  	width: 1em;
  	height:1em;
  	margin-right: 0.3em;
  	text-align: center;
  	color: #999;
		}
	</style>
</html>