<html>
<head>
     <style>
         header {
             position: fixed;
             top: 0px;
             left: 0px;
             width: 100%;
             height: 20px;
             Background-color: tan;
         }
         nav {
             margin-top: 20px;
             margin-bottom: 0px;
             background-color: solidblue;
         }
         nav li {
            display: inline;
         }
          section {
          float:left;
           width: 20%;
           background-color: tan;
           padding: 25px;
           border: 10px solid blue;
           margin: 25px;
           height: auto;
           }
         }
         aside {
             float: left;
             width: 80%;
             background-color: tan;
          	 padding: 25px;
          	 border: 10px solid blue;
         	 margin: 25px;
             height: auto;
         }
         footer {
             clear: both;
             background-color: blue;
         }
         body {
             margin: 0px;
         }
     </style>
</head>
</html>