<html>
<head>
     <style>
         header {
             position: fixed;
             top: 0px;
             left: 0px;
             width: 100%;
             height: 20px;
             background-color: tan;
         }
         nav {
          	 margin-top: 20px;
             margin-bottom: 0px;
             border: 10px blue;
             background-color: tan;
         }
         nav ul{
         	margin:0px;
         }
         nav li {
            display: inline;
         }
          section {
          float:left;
           width: 20%;
           background-color: tan;
           padding: 25px;
           border: 10px solid blue;
           height: 800px;
           }
         aside {
             float: right;
             width: 73%;
             height: 800px;
             background-color: tan;
              border: 10px solid blue;
         }
         footer {
             clear: both;
         }
         body {
             margin: 0px;
         }
     </style>
</head>
</html>